html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-icon {
  stroke: maroon;
  width: 3.2rem;
}

/* Stylized CSS */

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 9.6rem;
  font-size: 2.4rem;
  padding: 0.8rem;
}

.l-side {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #555;
}

/* Functional CSS */
/* 

Testing-Phase


.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-desc {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.work-container {
  margin: 0 auto;
  width: 90rem;
  display: flex;
  justify-content: space-between;
}
